html,body{
    width: 100%;
    height: 100%;
    background-color: blueviolet;

}

*{
    font-family:  Helvetica, sans-serif 
}
h1{
    text-align: center;
    margin-bottom: 50px;
}


.name{
    display: flex;
    flex:1;
    justify-content: flex-start;
    font-size: 2rem;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.markbutton{
    width: 30px;
    height: 15px;
    padding: 15px;
    opacity: 0.9;

}

.markbutton:hover{
    cursor: pointer;
    opacity: 1;

}

.rowdata{
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width: 57%;
    height: 30%;
    outline: 1px solid black;
    padding: 10px;
}

.done{
    text-decoration:line-through;
}

.buttondone{
    background-image: url(svg/check.svg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    border: none;
    opacity: 0.6;
}


.editbutton{
    background-color: white;
    padding: 15px 32px;
    opacity: 0.6;
}

.editsvg{
    background-image: url(svg/edit-icon.svg);
    display: block;
    margin: auto;
    background-size: 64px 30px;
    background-position:center ;
    background-repeat: no-repeat;
}
.editbutton:hover{
    opacity: 1;
}

.buttonsgroup{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex: 0.3;
}

.buttonsgroup>*{
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 2px;

}

.icanedit{
    border-color: blue;
    outline: 4px solid blue !important;
}




@keyframes blink {
    0%, 100% {
        background-color: transparent;
    }
    50% {
        background-color: rgb(15 23 42);
    }
}
.cursor {
        background-color: rgb(15 23 42);
        width: 0.25rem;
        height: 2.2rem;
        animation: blink 1s infinite;
}

