html,body{
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

*{
    font-family:  Helvetica, sans-serif;
    /*font-family: 'Montserrat';*/
    box-sizing: border-box;

}
h1{
    text-align: center;
}


.name{
    display: flex;
    justify-content: flex-start;
    font-size: 2rem;
    width: inherit;
    min-width: 60%;
}
.container{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    border-radius: 10px;
    box-shadow:  10px 6px rgba(0, 0, 0, 0.407);    
    padding: 30px;

}

.markbutton{
    width: 30px;
    height: 15px;
    padding: 15px;
    opacity: 0.6;
    background-color: white;

}

.markbutton:hover{
    cursor: pointer;
    opacity: 1;

}

.rowdata{
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    height: 15%;
    outline: 1px solid black;
    padding: 7px;
    width: 100%;
    flex: 1;
    border-radius: 2px;
    overflow: hidden;
}

.done{
    text-decoration:line-through;
}

.buttondone{
    background-image: url(svg/check.svg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    border: none;
    opacity: 0.6;
}


.editbutton{
    background-color: white;
    padding: 15px 32px;
    opacity: 0.6;
}

.editsvg{
    background-image: url(svg/edit-icon.svg);
    display: block;
    margin: auto;
    background-size: 64px 30px;
    background-position:center;
    background-repeat: no-repeat;
}
.editbutton:hover{
    opacity: 1;
}

.buttonsgroup{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1;
}

.buttonsgroup>*{
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 2px;
}

.icanedit{
    border-color: blue;
    outline: 4px solid blue !important;
}




@keyframes blink {
    0%, 100% {
        background-color: transparent;
    }
    50% {
        background-color: rgb(15 23 42);
    }
}
.cursor {
        background-color: rgb(15 23 42);
        width: 0.25rem;
        height: 2.2rem;
        animation: blink 1s infinite;
}


input[type="text"] {
    background: transparent;
    border: none;
  }


  input:focus{
    outline: none;
}


button{
    outline: 1px solid black;
}

#plusbutton{
  
    background:transparent;
    outline: none;
    border: none;
}
#deletebutton{
    background:transparent;
    outline: none;
    border: none;
  }

#plusbutton svg path:hover{
    fill: rgb(170, 0, 255) !important;
    opacity: 1;
}
#plusbutton svg:hover{
    fill: rgb(170, 0, 255) !important;
    opacity: 1;
}


  

 
  #deletebutton:hover{
    fill: red !important;
  }

  #deletebutton svg:hover {
    fill: #ff0000 !important;
    
  }
  #deletebutton:hover svg:hover path:hover{
    fill: red !important;
  }

  #deletebutton > svg:hover > path:hover{
    background-color: red !important;
  }

  .lastbuttonscontainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
button:hover{
    cursor: pointer;
}


.containerrows{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

#audio{

    width: 150px;
    height: 150px;
    background:transparent;
    outline: none;
    border: none;
    position: relative;
}

#audiocontainers{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: start;
    top : 0;
    right: 4%;
}


.svg{
    top: 0;
    right: 0;
}


.hidden{
    display: none;
}

.removebutton{
    width: 30px;
    height: 30px;
    padding: 15px;
    background-color: white;
    background-image: url(svg/trashcan.svg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position:center;
    border: none;
    opacity: 0.6;
}

.removebutton:hover{
    opacity: 1;
}


